<!html>
<head>
	{%block head%}
	<title>
		{%block title%} 
			
		{% endblock %}
	</title>
	{% endblock %}
</head>
<body>
	<FIELDSET>
		{%block body %}

    	{% endblock %}
</FIELDSET>
	
       
</body>
</html>