{% extends "AcmeHelloBundle:blog:base.html.twig" %}
	
	{%block body%}
	{% include 'AcmeHelloBundle:blog:menu.html.twig'%}
	<center>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titulo</th>
						<th>Contenido</th>
					</tr>
				</thead>
					<tbody>
							<tr>
								<td>
							{{lol.id}}
						</td>
						<td>
							{{lol.titulo}}
						</td>
						<td>
							{{lol.cuerpo}}
						</td>
					</tr>
				</tbody>
			</table>
	</center>
	<br><br>
	
	{%endblock%}
